# Auto detect text files and perform LF normalization
* text=auto
canvas/course_files_export[[:space:]](1).zip filter=lfs diff=lfs merge=lfs -text
canvas/Lecture07_OceanCirculation.pptx filter=lfs diff=lfs merge=lfs -text
